.u-f,.u-f-ac,.u-f-ajc,.u-f-acjb{
		display: flex;
	}
	
.u-f-ac,.u-f-ajc,.u-f-acjb{
		align-items: center;
	}
	
.u-f-ajc{
		justify-content: center;
	}
	
.u-f-acjb{
		justify-content: space-between;
	}

.u-f-jsb{
	justify-content: space-between;
}